.navBar {
    background-color: rgb(54, 54, 54);
    color: aliceblue;
    padding: 0.1em;
}

.nav {
    display: flex;
    gap: 3em;
    list-style-type: none
}

.navText {
    font-family: monospace, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    user-select: none;


    &:link, &:visited {
        color:rgb(226, 242, 255);
    }
    &:hover {
        color:rgb(255, 255, 255);
    }
    &:active {
        color:rgb(190, 226, 255);
    }
}