.card {
    padding: 1em;
    display: flex;
    gap: 0.5em;
}

.card_imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card_descContainer {
    display: flex;
    flex-direction: column;
    
}